.bg-greyish{
 background: #F4F4F4;
}
.card-height{
    height: 4.5rem;
}
.home-link:hover{
    color:#000;
    font-weight: 500;
}
.color-02{
    color: #696969;
}
.bg-deep-blue{
    background-color: #DB4C3F;;
}
.bg-light-blue{
    background-color: #ffcccb;
}
.table thead th, .table tbody th{
    font-weight: 400!important;
}
.badge-adhered{
    background-color: #D48AEF;
}
.badge-completed{
    background-color: rgba(111, 238, 162, 1);
}
.badge-pending{
    background-color: #EBA25E;
}
.badge-breached{
    background-color: #EE6464;
}
.custom-select{
    background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='red' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.625rem center/8px 10px!important;
    border: 1px solid #EE6464!important;
}
.badge-position{
    background:rgba(234, 213, 237, 1)
}
.table-sm th, .table-sm td{
    padding: 10px 15px!important;
}
.table-row{
    cursor: pointer;
}
.card-bg-gray{
    background-color: rgba(244, 244, 244, 1)!important;
}
.card-footer-bg{
    background-color: rgba(216, 216, 216, 1)!important;
}
.btn-comment{
    background: #FFFFFF!important;
border: 1px solid #CEAAAA!important;
box-sizing: border-box;
border-radius: 4px;
}
.badge-request{
background-color: rgba(255, 175, 175, 1);
}
.accordion-bg{
    background-color: rgba(249, 250, 252, 1)!important;
}
.text-muted{
    color: rgba(71, 71, 71, 1)!important;
}
.sign-icon{
    width:17px!important;
    height: 17px!important;
}
.nav-link.active{
    font-weight: 700!important;
}
.icon{
    font-size: 40px!important}

    .footer{
    position: absolute!important;
    bottom: 0;
    right: 0!important;
    left: 0!important;
    /* z-index: 1030!important; */
    /* background-color: black!important; */
    padding-bottom: 2.5rem; 
}
.navbar-right{
    min-width: 300px!important;
}
.main-container{
    position: relative;
  min-height: 100%!important;
}

.page-content{
    padding-bottom: 5rem; 
}
.df-logo{
    color: #DB4C3F!important;
}